*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   background-color: beige ;

}
.clock{
    margin: 150px auto;
    width: 250px;
    height: 250px;
    border: 10px solid;
    border-radius: 50%;
    position: relative;
  
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: black;
    margin: auto;
    width: 10px;
    height: 10px;
    border: 5px solid;
    border-radius: 50%;
}
 .hr{
    position: absolute;
    width: 5px;
    height: 60px;
    background-color: black;
    left: 49%;
    top: 25%;
  
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin: bottom;
} 

  .mint{
    position: absolute;
    width: 5px;
    height: 75px;
    background-color: red;
    left: 49%;
    top: 16%;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin:bottom;
}  

 .sec{
    
        position: absolute;
        width: 5px;
        height: 85px;
        background-color: blue;
        left: 49.3%;
        top: 14%;
    
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transform-origin:bottom;
    } 

    .showtime{
        border: 3px solid;
        display: inline;
        padding: 10px 40px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        background-color: rgba(128, 128, 128, 0.364);
        border-radius: 20px;
        position: relative;
        left: 45.5%;
    
     
      
    }
